.header {
	background-color: #0B8DE3;
	border-bottom: 1px solid #0B8DE3;
	overflow-y: auto;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

.main {
	background: #B8E2FE;
	box-sizing: border-box;
	padding: 40px;
	left: 0;
	top: 80px;
	text-align: center;
	width: 100%;
	z-index: 999;
}

li {
	color: #FFF;
	display: inline-block;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	text-align: left;
	font-weight: 300;
	text-transform: uppercase;
	padding: 0 40px;
}

h1 {
	font-size: 50px;
	font-family: Impact, Charcoal, sans-serrif;
	text-transform: uppercase;
	color: #212121
}